@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

body {
  font-family: 'pretendard';
  font-weight: 300
}

.custom-quill-editor .ql-editor {
  min-height: 500px;
}